@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

body {
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	color: #f5c527;
}

/*--- Navigation ---*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgb(103, 103, 103)!important;
	padding: .5rem 1rem;
    border-bottom: 1px solid black;
}

.navbar-brand img{
	height: 2rem;
}
.navbar-nav li{
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link:visited {
	color: white;
}
.navbar-dark .navbar-nav .active .nav-link,
.navbar-dark .navbar-nav .active .nav-link:visited {
	color: #ffe100;
}
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .show .nav-link {
	color: #fff080;
}
.navbar-collapse {
	text-align: center;
}
.dropdown-menu {
    display: none;
    visibility: hidden;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
