/*#titlearea {
    background-color: black;
    color: white;
}

.navpath ul {
    background-image: none;
    background-repeat: no-repeat;
    background-color: black;
}

.navpath li.navelem a {
    color: #999;
    text-shadow: 0px 1px 1px #eee;
}

.navpath li.navelem a:hover {
    color: #d8d8d8;
    text-shadow: 0px 1px 1px #f7f7f7;
    text-decoration: none;
}

.navpath li.footer {
    color: #bbb;
}

.navpath li.footer a{
    text-decoration: none;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    color: #fff;
    font-weight: bold;
}

.navpath li.footer a:hover{
    text-decoration: none;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    color: #ffff99;
    font-weight: bold;
}*/


/*--- Custom css ---*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

#main-nav {
	position:static;
}
/*--- Navigation ---*/

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0, 0, 0, 0.6)!important;
	padding: .5rem 1rem;
}
.navbar-brand img{
	height: 2rem;
}
.navbar-nav li{
	padding-right: .7rem;
	font-family: 'Ubuntu', sans-serif;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus  {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	color: #fff;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .show .nav-link {
	color: #f5c527;
}
.navbar-dark .navbar-nav .dropdown-menu {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 0;
	min-width: 20rem;
}
@media (min-width: 768px) {
	.navbar-dark .navbar-nav .dropdown-menu {
		left: 50% !important;
		transform: translateX(-50%) !important;
		margin-top: .5rem;
	}
}
.navbar-dark .navbar-nav .dropdown-header {
	font-size: .8rem;
	font-weight: 700;
	text-align: center;
}
.navbar-dark .navbar-nav .dropdown-item{
	color: #aaa;
	font-size: .8rem;
	font-weight: 700;
	text-align: center;
}
.navbar-dark .navbar-nav .dropdown-item.active,
.navbar-dark .navbar-nav .dropdown-item:hover{
	background: rgba(245,197,39,0.4);
	color: white;
}

/*#side-nav {
	box-sizing: initial;
}*/