@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');


/* custom navbar and footer iframes */
#customnavbar {
	border: none;
	width: inherit;
}

#customfooter {
	border: none;
	width: inherit;
}

/* hide navbare resizing */
body {
	visibility: hidden;
}

/* improve navigation tree */
#nav-tree {
	background: #fff;
	overflow-x: scroll;
	height: 100%;
}

#nav-tree .selected {
	background: #bbb;
	color: #fff;
	text-shadow: none;
}

.ui-resizable-handle {
    background: #aaa;
    width: 3px;
    /*border-right: solid 2px #999;
    border-left: solid 2px #999;*/
}

#nav-tree-contents {
	padding-left: 5px;
	padding-right: 5px;
}

/* improve documentation dropdown */
#main-menu {
	background: #aaa;
	border-bottom: solid 2px black;

}

#main-menu a {
	color: #333;
	text-shadow: none;
}

#main-menu a:focus,
#main-menu a:hover,
#main-menu a:active {
	background: rgb(103,103,103);
	color: white;
	text-shadow: none;
}

/* improve content window */
div.header {
	background: #ddd;
}

/* improve layout */
#top {
	position: fixed;
	z-index: 100;
	width: 100%;
}

#side-nav {
	position: fixed;
	left: 0;
	padding-right: 3px;
}

#doc-content {
    height: auto;
    overflow: visible;
    display: block;
 }

#nav-path {
	position: static;
	background: rgb(103, 103, 103);
	height: 30px;
	display: table;
	border-top: solid 2px black;
}

#nav-path p {
	text-align: center;
	font-weight: 400;
	color: #bbb;
	font-family: 'Ubuntu', sans-serif;
	display: table-cell;
}

html {
	background: rgb(103, 103, 103);
}

